@function rem($px) {
	@return $px / 16px + 0rem;
}

@mixin tablets {
	@media (max-width: $tablets) {
		@content;
	}
	html {fon-size: 15px;}
	.container {max-width: 450px;}
}

@mixin phones {
	@media (max-width: $phones) {
		@content;
	}
	html {fon-size: 13px;}
}