.scroll-down {
	display: block;
	text-decoration: none;
	position: fixed;
	top: 90%;
	left: 50%;
	width: 33px;
	height: 14px;
	background-image: url(../../img/arrow-scroll.png);
	background-position: center center;
	background-repeat: no-repeat;
}