.order {
	text-decoration: none;
	background-color: #e45028;
	border-radius: 5px;
	padding: 12px 18px;
	color: #fff;
	text-transform: uppercase;
	font-family: Ubuntu;
	font-weight: 500;
	font-size: 13px;
}

.btn-learn-more {
	display: block;
	text-decoration: none;
	padding: 14px 12px;
	border-radius: 5px;
	border: none;
	background-color: #2f3234;
	text-transform: uppercase;
	font-family: Ubuntu;
	font-weight: 500;
	font-size: 13px;
	color: #fff;
	width: 50%;
	text-align: center;
	line-height: 1;
	cursor: pointer;

	&:hover {
		background-color: #1f2122;
	}

	@include tablets {
    	margin: 0 auto;                   
  	}

  	@include phones {
	   display: none;                   
	}	

}

.btn-learn-more--phone {
	display: none;
	width: 60%;

	@include phones {
	   display: block;
	   white-space: no-wrap;                   
	}	


}

		

		