.order {
	text-decoration: none;
	background-color: #e45028;
	border-radius: 5px;
	padding: 12px 18px;
	color: #fff;
	text-transform: uppercase;
	font-family: Ubuntu;
	font-weight: 500;
	font-size: 13px;
}

.btn-learn-more {
	display: block;
	text-decoration: none;
	padding: 14px 12px;
	border-radius: 5px;
	border: none;
	background-color: #2f3234;
	text-transform: uppercase;
	font-family: Ubuntu;
	font-weight: 500;
	font-size: 13px;
	color: #fff;
	width: 50%;
	text-align: center;
	line-height: 1;
	cursor: pointer;
	transition: 0.35s easy-in-out;

	&:hover {
		background-color: #1f2122;
	}

	@include tablets {
    	margin: 0 auto;                   
  	}

  	@include phones {
	   display: none;                   
	}	

}

.reviews-popup {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100vh;
	height: 100vh;
	overflow: auto;
	background-color: rgba(0,0,0,0.8);
}

.reviews-js {
	display: block;
}

.reviews-popup__content {
	width: 475px;
	height: 255px;
	background-color: #fff;
	margin: 15% auto;
}

.close  {
	color: red;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.btn-learn-more--phone {
	display: none;
	width: 60%;

	@include phones {
	   display: block;
	   white-space: no-wrap;                   
	}	


}

		

		