.points {
	position: fixed;
	top: rem(80px);
	right: rem(45px);
	list-style: none;

	@include tablets {
    display: none;
  }
}

.points__item {
	margin-bottom: rem(10px);
}

.points__item--active .points__link {
	border-color: #fff;
}

.points__link {
	display: block;
	width: rem(16px);
	height: rem(16px);
	border: 1px solid transparent;
	border-radius: 50%;
	position: relative;

	&:hover {
	border-color: #fff;
	}


	&:before {
	display: block;
	content: "";
	width: rem(6px);
	height: rem(6px);
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 	}
}