.points {
  position: fixed;
  top: 80px;
  right: 23.4%;
  list-style: none; }

.points__item {
  margin-bottom: 10px; }

.points__item--active .points__link {
  border-color: #fff; }

.points__link {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid transparent;
  border-radius: 50%;
  position: relative; }
  .points__link:hover {
    border-color: #fff; }
  .points__link:before {
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
