.footer {
	width: 100%;
	background: url(../img/footer.jpg) center bottom no-repeat;
	background-size: cover;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding-top: rem(10px);
}

.container_footer {
	display: flex;
	flex-direction: row;
	align-items: center;

	
	 @include tablets {
    padding: 0 rem(20px);
  }

	 @include phones {
    flex-direction: column;
  }
}

.footer__column {
	width: 50%;
	margin-bottom: rem(15px);

	@include phones {
    width: 100%;
    text-align: center;
  }
}

.footer__column_left {
	font-family: Ubuntu;
	font-size: rem(14px);
}

.footer__adress {
	color: #fff;
	font-weight: 500;
	margin-bottom: rem(10px);
}

.footer__phone {
	width: 100%;
	display: flex;
	color: #e45028;
	font-weight: 700;
	text-decoration: none;

	&:before {
		display: block;
		margin-right: 15px;
		width: rem(12px);
		height: rem(12px);
		content: "";
		background: url(../img/phone.png) center center no-repeat;
	}
}

.footer__column_right {
	margin-bottom: 0;
	display: flex;
	justify-content: flex-end;

	@include phones {
    justify-content: center;
  }
}

.socials {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	position: relative;
	top: 50%;
}

.socials__item {
  margin-left: rem(10px);
}

.socials__link { 
  display: block;
  max-width: 23px;
  max-height: 20px;
  opacity: .3;
  transition: .3s;
  &:hover {
    opacity: 1;
  }
}

.socials__link-icon {
  width: 20px;
  height: 20px;
}
