.header {
  width: 100%;
  position: absolute;
  top: 12px;
  display: flex;
  flex: 1;
  align-items: center;
}

.header__left {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  margin: 0 0 0 25px;
}

.header__right {
  display: flex;
  flex: 1;
  margin-left: 57px;
  align-items: flex-start;
  
  @include tablets() {
      display: none;
  }
}

.tablets-block {
width: 21%;
margin-left: 15px;
position: relative;

  @include tablets() {
    display: flex;
    margin-right: 25px;
  }

 @include phones() {
      margin-left: 0;
  }
}




      


