.header {
  position: absolute;
  top: rem(12px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.header__left {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  margin: rem(10px) 0 0 0;

   @include tablets() {
      margin-left: rem(25px); 
  }

 }

.header__right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: rem(28px);
 }

.navigation__item {
  
    @include tablets() {
      display: none;
  }

    &:last-child {

      @include tablets() {
        display: flex;
        position: absolute;
        right: rem(-580px);
      }
  }
}


