.hamburger-menu-btn {
    vertical-align: middle;
    position: relative;
    background: transparent;
    border: none; 
    height: rem(22px);
    align-items: center;
    margin-left: 0.875rem;
    margin-top: rem(7px);
    display: none;
    cursor: pointer;

    @include tablets() {
    display: flex;

  }
 }

 .hamburger-menu-btn__elem {
  &, &:before, &:after {
    display: block;
    background: #fff;
    width: rem(24px);
    height: rem(5px);
    border-radius: rem(3px);
  }

     &:before, &:after {
      content: "";
      display: block;
      position: absolute;
      
  }

      &:before {
        top: 0;
       
      }

      &:after {
        bottom: 0;
       
      }
}

 
  
