.navigation {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	color: #fff;
	font-family: Ubuntu;
	font-weight: medium;
	font-size: 13px;
	text-transform: uppercase;
}

.navigation__item--start {
	list-style: none;
}

.navigation__item {
	margin-left: 15px;
	margin-right: 15px;
}