.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; 
}

.navigation__item {
  margin-left: 35px;
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 7px;
    left: -19px;
  }
}

.navigation__item_none {
  margin-left: 15px;

   &:before {
    display: none;
   }
}

.navigation__link {
  text-decoration: none;
  color: #fff;
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
}
