.section_how-work {
  background: url(../img/how_we_work.jpg) center center no-repeat;
  background-size: cover;
 }

 .content_how-work {
 	margin: 0 auto;
 	text-align: center;
 }

 .title_how-work {
	color: #2f3234;
	margin-top: 21%;
}