.section_about {
  background: url(../img/bg.png) center center no-repeat;
  background-size: cover;
 }

.content_about {
	text-align: center;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}

.title__about {
	text-align: center;
	color: #2f3234;
	padding-top: 21%;
}

.we {
	max-width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	margin-left: -20px;
	
	
	@include phones {
    	flex-direction: column;
    	// padding-top: rem(20px);
  }
}

.we__item {
	width: calc(100% / 3 - 15px);
	text-align: center;
	line-height: 1;
	margin-left: rem(15px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

  	@include phones {
    flex-direction:row;
    width: auto;
    margin-bottom: 0;
    text-align: left;
	}
 }

.best__icon {
	max-width: 100px;
	max-height: 100px;
}

.we__title {
	font-family: Lifehack;
	font-weight: 300;
	font-size: rem(24px);
	text-transform: none;
}

.we__item-desc {
	@include phones {
    margin-left: 5%;
	}
}

.we__desc {
	font-family: Ubuntu;
	font-weight: 300;
	font-size: rem(14px);
	color: #828180;
	line-height: 1.5;
	user-select: none;
	text-align: center;
	padding: 0;

	@include phones {
    text-align: left;
	}
}