.section_slider {
  	background: url(../img/bg_orange.png) center center no-repeat;
  	background-size: cover;
  	display: flex;
 	align-items: center;
 	
 }

 .section_slider-arrow {
 	display: block;
 	margin: 0 auto;
 }

.section_slider-icon--prew {
	transform: rotate(90deg);
}

.section_slider-arrow--next {
	transform: rotate(-90deg);
}

.slider-arrow__icon {
	width: rem(33px);
	height: rem(16px);
}

 .content_slider {
 	height: 100%;
  	display: flex;
   	flex: 1;
   	align-items: center;
   	justify-content: center;

   @include tablets() {
   		// display: flex;
   		// flex-direction: column;
   		// align-items: center;
   		// padding: rem(40px) 0 rem(40px) 0;
  	}

  	@include phones() {
   		// padding: 0;
  	}
 }

.left_slider {
	position: relative;
} 


.slider-image {
	max-width: 100%;
	position: relative;
  	left: 50%;
  	transform: translateX(-50%);
	object-fit: cover;
}


.consist-btn {
	border: transparent;
	width: rem(90px);
	height: rem(90px);
	background-color: #f08c33;
	border-radius: rem(5px);
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;

	&:after {
		width: rem(46px);
		height: rem(46px);
		display: block;
		position: absolute;
		background: url(../img/burger.png) center center no-repeat;
		background-size: contain;
		content: "";
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&:focus
		~.popup {
			display: block;
			z-index: 4;
		}
}

.consist-btn__text {
	display: inline-block;
	text-transform: uppercase;
	color: #fff;
	font-family: Gagalin;
	font-size: rem(14px);
	margin-top: rem(50px);
}

.popup {
	width: rem(270px);
	background: #fff;
	opacity: 0.9;
	border-radius: rem(5px);
	position: absolute;
	top: 0;
	right: rem(145px);
	padding: rem(18px);
	display: none;
}

.popup__list {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.popup__item {
	display: flex;
	font-family: Ubuntu;
	font-size: rem(14px);
	align-items: center;
}

.popup__name {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: 700;
	

	&_cow:before {
		display: block;
		margin-right: rem(25px);
		width: rem(48px);
		height: rem(48px);
		content: "";
		background: url(../img/cow.png) center center no-repeat;
	}

	&_buns:before {
		display: block;
		margin-right: rem(25px);
		width: rem(48px);
		height: rem(48px);
		content: "";
		background: url(../img/buns.png) center center no-repeat;
	}

	&_salad:before {
		display: block;
		margin-right: rem(25px);
		width: rem(48px);
		height: rem(48px);
		content: "";
		background: url(../img/salad.png) center center no-repeat;
	}

	&_sauce:before {
		display: block;
		margin-right: rem(25px);
		width: rem(48px);
		height: rem(48px);
		content: "";
		background: url(../img/sauce.png) center center no-repeat;
	}

	&_cucumber:before {
		display: block;
		margin-right: rem(25px);
		width: rem(48px);
		height: rem(48px);
		content: "";
		background: url(../img/cucumber.png) center center no-repeat;
	}

	&_cheese:before {
		display: block;
		margin-right: rem(25px);
		width: rem(48px);
		height: rem(48px);
		content: "";
		background: url(../img/cheese.png) center center no-repeat;
	}

}

.popup__weight {
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-weight: 500;
}

.logo-kkal {
	position: absolute;
	bottom: 0;
	left: 0;
	width: rem(60px);
	height: rem(90px);
	background: url(../img/kkal.png) center center no-repeat;
	color: #fff;
	font-family: Gagalin;
	font-size: rem(20px);

	@include tablets() {
  //  		position: absolute;
		// right: rem(135px);
  //  		top: rem(-15px);
  	}

  	@include phones() {
   		// right: rem(20px);
   		// top: rem(-15px);
  	}
}

.kkal {
	opacity: 0.7;
	text-align:center;
	display: block;
	padding-top: rem(41px);
	line-height: 1.5;
}


.weight {
	display: block;
	margin-top: rem(10px);
}

.right_slider {
	display: flex;
	flex-direction: column;
	// align-items: center;
	justify-content: center;	

	@include tablets() {
	   		
	}

	@include phones() {
   			width: 100%;
  		}

}

.title_slider-white {
	color: #fff;
	margin: 0;

	@include tablets() {
   			text-align: center;
  		}
}

.slider-desc {
	color: #fff;
	font-family: Ubuntu;
	font-size: rem(14px);
	font-weight: 300;
	line-height: 2;

	@include phones() {
   		text-align: center;
  	}
}

.title_slider-red {
	display: inline-flex;
	color: #e45028;
}

.price__list {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.price__item {
	font-family: Gagalin;
  	font-weight: 300;
  	font-size: rem(72px);
 	color: #e45028;

 	&_index {
 		font-size: rem(16px);
 		display: inline-flex;
 		margin-top: 12%;
 	}

 	&_btn {
 		margin-left: rem(30px);
 	}
}


