.section_menu {
	background: url(../img/menu_bg.png) center center no-repeat;
	background-size: cover;
	position: relative;
}

.title_menu {
	display: inline-flex;
	color: #fff;
	margin-top: 7%;
	margin-left: 5%;
}


.accordeon__list_menu {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	height: 100vh;
}

.accordeon__item-menu {
	height: 100%;
}

.accordeon__button_vertical_meat {
	background: url(../img/accordeon_hunter.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
}

.accordeon__button_vertical_veg {
	background: url(../img/accordeon_veg.jpg) no-repeat;
	background-size: cover;
	background-position: 60% center;
}

.accordeon__button_vertical_diet {
	background: url(../img/accordeon_diet.jpg) no-repeat;
	background-size: cover;
	background-position: 60% center;
}

.accordeon__button_vertical {
	display: block;
  	background: transparent;
  	border-color: transparent;
	width: rem(80px);
	height: 100%;
	float: left;
	background-color: rgba(47,50,52,.93);
	position: relative;
	cursor: pointer;

	
	&:focus {
		.title_accordeon-menu {
			color: #f8b43a;
		}

		+ .accordeon__hidden {
			max-width: rem(541px);
			width: 100%;
			height: 100%;
			overflow: none;
		}
	}

	@include phones {
			width: rem(50px);
		}
}

.title_accordeon-menu {
	position: absolute;
	font-size: rem(40px);
	color: #fff;
	font-family: Gagalin;
	text-align: center;
	white-space: nowrap;
	transform: rotate(-90deg) translateY(-50%);
	transform-origin: 0 0;
	left: 50%;
	top: 100%;
	margin-top: rem(-20px);
}

.accordeon__hidden {
	height: 100%;
	float: left;
	width: 0;
	overflow: hidden;
	background-color: rgba(#2f3234, .93);
}

.accordeon__text {
	padding: rem(60px) rem(30px);
}

.accordeon__menu-text {
	font-family: Ubuntu;
	font-weight: 300;
	font-size: rem(14px);
	color: #fff;
	line-height: 1.8;
}