.section_slider {
	background: rgb(240,140,51);
	background: -moz-linear-gradient(45deg, rgba(240,140,51,1) 0%, rgba(248,180,58,1) 100%);
	background: -webkit-linear-gradient(45deg, rgba(240,140,51,1) 0%,rgba(248,180,58,1) 100%);
	background: linear-gradient(45deg, rgba(240,140,51,1) 0%,rgba(248,180,58,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f08c33', endColorstr='#f8b43a',GradientType=1 );

	min-height: 100%;
  	display: flex;
 	align-items: center;
 }

 .section_slider-arrow {
 	width: 100%;
 	height: 100%;
 }

.section_slider__link {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 }

.section_slider__link--prew {
	transform: rotate(90deg);
}

.section_slider__link--next {
	transform: rotate(-90deg);
}

.slider-arrow__icon {
	width: 33px;
	height: 33px;
}

 .content_slider {
  	display: flex;
   	flex: 1;
   	align-items: center;
   	justify-content: center;
   	height: 100vh;
	

   @include tablets() {
   		flex-direction: column;
  	}

	@include phones {
   		margin-top: 50px; 
  	}
 }

.left_slider {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	min-width: 45%;
	

	@include tablets() {
	   height: auto;
	}
} 

.left_slider-img {
	position: relative;
	height: 50%;
	width: 100%;
	right: 20px;

	@include tablets() {
		// top: 15px;
	   	right: 0;
	}
}

.slider-image {
	min-width: 100%;

	@include phones {
   max-width: 100%;
  }
}

.consist-btn {
	position: absolute;
	top: -85px;
	left: 30px;
	border: transparent;
	width: 90px;
	height: 90px;
	background-color: #f08c33;
	border-radius: 5px;
	cursor: pointer;

	@include tablets() {
	   	top: -75px;
	   	left: 25px;
	}

	&:after {
		width: 46px;
		height: 46px;
		display: block;
		position: absolute;
		background: url(../img/burger.png) center center no-repeat;
		background-size: contain;
		content: "";
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
  	}

	&:focus
		~.popup {
			display: block;
			z-index: 4;
	}
}

.consist-btn__text {
	display: inline-block;
	text-transform: uppercase;
	color: #fff;
	font-family: Gagalin;
	font-size: 14px;
	margin-top: 50px;
}

.popup {
	width: 270px;
	background: #fff;
	opacity: 0.9;
	border-radius: 5px;
	position: absolute;
	top: -87px;
	left: 120px;
	padding: 18px;
	display: none;

	@include tablets() {
	   	right: 300px;
	}
}

.popup__list {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	user-select: none;
}

.popup__item {
	display: flex;
	font-family: Ubuntu;
	font-size: 14px;
	align-items: center;
}

.popup__name {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: 700;
	

	&_cow:before {
		display: block;
		margin-right: 25px;
		width: 48px;
		height: 48px;
		content: "";
		background: url(../img/cow.png) center center no-repeat;
	}

	&_buns:before {
		display: block;
		margin-right: 25px;
		width: 48px;
		height: 48px;
		content: "";
		background: url(../img/buns.png) center center no-repeat;
	}

	&_salad:before {
		display: block;
		margin-right: rem(25px);
		width: 48px;
		height: 48px;
		content: "";
		background: url(../img/salad.png) center center no-repeat;
	}

	&_sauce:before {
		display: block;
		margin-right: 25px;
		width: 48px;
		height: 48px;
		content: "";
		background: url(../img/sauce.png) center center no-repeat;
	}

	&_cucumber:before {
		display: block;
		margin-right: rem(25px);
		width: 48px;
		height: 48px;
		content: "";
		background: url(../img/cucumber.png) center center no-repeat;
	}

	&_cheese:before {
		display: block;
		margin-right: 25px;
		width: 48px;
		height: 48px;
		content: "";
		background: url(../img/cheese.png) center center no-repeat;
	}
}

.popup__weight {
	text-align: center;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-weight: 500;
}

.logo-kkal {
	position: absolute;
	bottom: -40px;
	left: 30px;
	width: 60px;
	height: 90px;
	background: url(../img/kkal.png) center center no-repeat;
	color: #fff;
	font-family: Gagalin;
	font-size: 20px;
	user-select: none;

	@include tablets() {
		top: -85px;
	   	left: 86%;		
  	}
}

.logo-kkal__item {
	display: block;
	position: relative;
	opacity: 0.7;
	text-align: center;
	display: block;
	line-height: 1.5;
}

.logo-kkal__item--sum {
	top: 40px;
}

.logo-kkal__item--name {
	top: 38px ;
}

.weight {
	display: block;
	margin-top: 10px;
}

.right_slider {
	margin-left: 30px;
	width: 45%;
	height: 100%;
	padding-top: 130px ;

	@include tablets() {
		height: auto;
	   	width: 100%;
	   	margin: 0;
	   	padding: 0 80px;
	   	text-align: center;	
	}
}

.title_slider-white {
	color: #fff;
	margin: 0;
	line-height: 1;
}

.slider-desc {
	color: #fff;
	font-family: Ubuntu;
	font-size: rem(14px);
	font-weight: 300;
	line-height: 1.8;
}

.price__list {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.price__item {
	font-family: Gagalin;
  	font-weight: 300;
  	font-size: rem(72px);
 	color: #e45028;

 	&_index {
 		font-size: rem(28px);
 		display: inline-flex;
 		margin-top: 10%;
 	}

 	&_btn {
 		margin-left: rem(30px);
 	}
}


