.section_about {
  background: url(../img/bg.png) center center no-repeat;
  background-size: cover;
 }

.about__content {
	text-align: center;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}

.title__about {
	text-align: center;
	color: #2f3234;
	padding-top: rem(115px);

	@include phones {
    	margin: 0;
		padding-top: rem(80px);	
  }
}

.we {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	text-align: center;
	
	@include phones {
    	flex-direction: column;
    	padding-top: rem(20px);
  }
}

.we__item {
	width: 33%;
	text-align: center;
	line-height: 1;
	margin-bottom: rem(50px);
	padding: 0 rem(15px);
	display: flex;
	flex: 1;
	flex-direction: column;

  	@include phones {
  	position: relative;
    flex-direction: none;
    width: auto;
    margin-bottom: 0;

    &:before {
    	position: absolute;
   		top: rem(30px);
    }
  }


	&_meet:before {
	margin: 0 auto;
	display: block;
	content: "";
	width: rem(100px);
	height: rem(100px);
	background: url(../img/meat.png);
	background-position: center center;
	background-repeat: no-repeat;
	}


	&_hand:before {
	margin: 0 auto;
	display: block;
	content: "";
	width: rem(100px);
	height: rem(100px);
	background: url(../img/hand.png);
	background-position: center center;
	background-repeat: no-repeat;
	}


	&_natural:before {
	margin: 0 auto;
	display: block;
	content: "";
	width: rem(100px);
	height: rem(100px);
	background: url(../img/natural.png);
	background-position: center center;
	background-repeat: no-repeat;
	}

}

.we__title {
	font-family: Lifehack;
	font-weight: 300;
	font-size: rem(24px);
	text-transform: none;
	text-align: auto;

	@include phones {
		margin-bottom: 0;

	   &--meat {
	   	margin-left: rem(12px);
	   }

	   &--hand {
	   	margin-left: rem(-30px);
	   }

	   &--natural {
	   	margin-left: rem(125px);
	   }
	    
	}
}

.we__desc {
	font-family: Ubuntu;
	font-weight: 300;
	font-size: rem(14px);
	color: #828180;
	line-height: 1.5;
	user-select: none;
	text-align: left;
	padding: 0;

	@include phones {
    margin-left: rem(130px);
	}
}