.section_team {
  background: url(../img/team.jpg) center 0 no-repeat;
  background-size: cover;
  position: relative;
}

.conteiner_team {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.80);

	@include tablets {
    left: 0;
    width: 100%;
  }
}

.content_team {
	height: 100%;
	margin-top: 10%;
	margin-left: auto;
	padding-left: 30%;

	@include tablets {
    text-align: center;
  }
}


.title_accordeon-menu {
	display: inline-flex;
	transform: rotate(-90deg);
	white-space: nowrap;
}

.accordeon_team {
	margin-top: rem(40px);
}

.accordeon__list {
	list-style: none;
	margin: 0;
	padding: 0;
}


.title_crewman-name {
	font-size: rem(14px);
	color: #fff;
	position: relative;

	&:before {
		display: block;
		content: "";
		width: rem(9px);
		height: rem(9px);
		background: url(../img/Polygon_down.png) no-repeat;
		position: absolute;
		top: 40%;
		left: rem(-20px);
	}
}

.crewman_position {
	display: block;
	font-weight: 700;
	margin-bottom: rem(10px);
}


.accordeon__item {
	margin-bottom: rem(30px);
}

.accordeon__button {
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;

	&:focus {
		.title_crewman-name {
		color: #f8b43a;
		} 
	}
	

	&:focus 
		+.accordeon__crewman {
			height: 100%;
			overflow: none;
			
		}
	
	&:focus {
		.title_crewman-name:before {
			transform: rotate(-180deg);
		}
	}

}


.accordeon__crewman {
	display: flex;
	padding-top: rem(15px);
	height: 0;
	overflow: hidden;
}

.crewman_pic {
	margin: 0 rem(20px) 0 0;
}

.crewman_photo {
	width: rem(100px);
	height: rem(100px);
	object-fit: cover;
	border-radius: 50%;
}

.about_crewman {
	width: 50%;
	font-family: Ubuntu;
	font-weight: 300;
  	font-size: rem(14px);
  	line-height: 1.5;
  	color: #fff;
}
