.section_slider {
	background: rgb(240,140,51);
	background: -moz-linear-gradient(45deg, rgba(240,140,51,1) 0%, rgba(248,180,58,1) 100%);
	background: -webkit-linear-gradient(45deg, rgba(240,140,51,1) 0%,rgba(248,180,58,1) 100%);
	background: linear-gradient(45deg, rgba(240,140,51,1) 0%,rgba(248,180,58,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f08c33', endColorstr='#f8b43a',GradientType=1 );

	min-height: 100%;
  	display: flex;
 	align-items: center;
 }

 .container_slider {
 	margin: 0 auto;

 }

.slider {
	top: calc(50% - 250px);
	position: relative;

	@include tablets {
		display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

 .viewport {
 	position: relative;
 	overflow: hidden;
	width: 100%;
	height: 500px;

	@include tablets {
      	height: 600px;
     	width: 700px;
    }

    @include phones {
     	width: 450px;
    }
 }

 .slidewrapper {
 	display: flex;
 	position: absolute;
 	top: 0;
 	left: 0;
 	transition-timing-function: easy-in-out;
 	list-style: none;
 	margin: 0;
 	padding: 0;
 }

 .slide {
 	display: inline-block;
 	align-items: center;
 	width: 900px;
 	margin: 0 20px;
 	height: 500px;

	@include tablets {
		width: 700px;
		margin: 0;
		display: flex;
        flex-direction: column;
        text-align: center;
        height: 600px;
    }

    @include phones {
		width: 450px;
    }
 }

 .slide__img {
 	position: relative;
 	top: 50%;
 	transform: translateY(-50%);
 	width: 50%;
 	float: left;
 	
 	@include tablets {
		top: 50px;
	 	transform: translateY(0);
	 	width: 100%;
    }

     @include phones {
		max-width: 80%;
    }
 }

 .slide__pic {
 	max-width: 100%;
 }


.slide__desc {
	position: relative;
 	top: 50%;
 	transform: translateY(-50%);
	padding-left: 20px;
	width: 50%;
	display: flex;
	flex-direction: column;

	@include tablets {
		text-align: center;
        padding-left: 0;
       	top: 50px;
 		transform: translateY(0);
        width: 100%;
    }

    @include phones {
		max-width: 80%;
    }
 }


.title_slider-white {
	color: #fff;
	margin: 0;
	line-height: 1;

	 @include tablets {
        font-size: rem(60px);
    }

    @include phones {
        font-size: 50px;
    }
}


.slider-desc {
	color: #fff;
	font-family: Ubuntu;
	font-size: rem(14px);
	font-weight: 300;
	line-height: 1.8;
}

.price__list {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;

	 @include tablets {
       justify-content: center;
    }
}

.price__item {
	font-family: Gagalin;
  	font-weight: 300;
  	font-size: rem(72px);
 	color: #e45028;

 	@include tablets {
    font-size: rem(45px);
}

	@include phones {
    font-size: rem(40px);
}

 	&_index {
 		font-size: rem(28px);
 		display: inline-flex;
 		margin-top: 10%;

 		@include tablets {
		    margin-top: 4%;
		    font-size: rem(14px);
		}   
 	}

 	&_btn {
 		margin-left: rem(30px);
 		vertical-align: middle;
 	}
}


.slider-controls__prev, .slider-controls__next{
 		position: absolute;
 		width: 30px;
 		height: 30px;
 		top: calc(50% - 15px);
 		cursor: pointer;
 	}

.slider-controls__prev {
	left: -50px;
	transform: rotate(90deg);

	@include tablets() {
	   	left: 0;
	}
}	

.slider-controls__next {
	right: -50px;
 	transform: rotate(-90deg);

 	@include tablets() {
	   right: 0;
	}
 }

.arrow-scroll {
	width: 30px;
 	height: 30px;
}


.consist-btn {
	position: absolute;
	top: 0;
	left: 0;
	border: transparent;
	width: rem(90px);
  	height: rem(90px);
	background-color: #f08c33;
	border-radius: 5px;
	cursor: pointer;

	@include tablets() {
	   	top: 0;
	   	left: 0;
	}

	&:after {
		content: "";
		display: block;
		width: 46px;
		height: 44px;
		position: absolute;
		top: 40%;
		left: 50%;
		background: url(../img/burger.png) center center no-repeat;
		transform: translate(-50%, -50%);
  	}

	&:focus
		~.popup {
			display: block;
			z-index: 4;
	}
}

.consist-btn__text {
	display: inline-block;
	text-transform: uppercase;
	color: #fff;
	font-family: Gagalin;
	font-size: 14px;
	margin-top: 50px;
}

.popup {
	width: 270px;
	background: #fff;
	opacity: 0.9;
	border-radius: 5px;
	position: absolute;
	left: 90px;
	padding: 18px;
	display: none;

	@include tablets() {
	   	top: 0;
	}
}

.popup__list {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	user-select: none;
}

.popup__item {
	display: flex;
	font-family: Ubuntu;
	font-size: 14px;
	align-items: center;
}

.popup__name {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: 700;
	

	&_cow:before {
		display: block;
		margin-right: 25px;
		width: 48px;
		height: 48px;
		content: "";
		background: url(../img/cow.png) center center no-repeat;
	}

	&_buns:before {
		display: block;
		margin-right: 25px;
		width: 48px;
		height: 48px;
		content: "";
		background: url(../img/buns.png) center center no-repeat;
	}

	&_salad:before {
		display: block;
		margin-right: rem(25px);
		width: 48px;
		height: 48px;
		content: "";
		background: url(../img/salad.png) center center no-repeat;
	}

	&_sauce:before {
		display: block;
		margin-right: 25px;
		width: 48px;
		height: 48px;
		content: "";
		background: url(../img/sauce.png) center center no-repeat;
	}

	&_cucumber:before {
		display: block;
		margin-right: rem(25px);
		width: 48px;
		height: 48px;
		content: "";
		background: url(../img/cucumber.png) center center no-repeat;
	}

	&_cheese:before {
		display: block;
		margin-right: 25px;
		width: 48px;
		height: 48px;
		content: "";
		background: url(../img/cheese.png) center center no-repeat;
	}
}

.popup__weight {
	text-align: center;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-weight: 500;
}

.logo-kkal {
	width: 60px;
	height: 85px;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
  	flex-direction: column;
 	justify-content: center;
  	align-items: center;
  	text-align: center;
  	font-size: rem(20px);
  	opacity: 0.5;
	// background: url(../img/kkal.png) center center no-repeat;
	color: #fff;
	font-family: Gagalin;
	user-select: none;

	@include tablets() {
		bottom: calc(100% - 85px);
		left: 637px;
  	}

  	@include phones {
		left: 388px;
    }

  	&__icon {
    width: 60px;
    height: 60px;
    position: relative;
    margin-bottom: 5px;
	    .kkal {
	      width: 60px;
	      height: 60px;
	    }
  	}

  &__value {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    font-size: rem(14px);
  }

}


