.section_order {
  background: url(../img/form_bg.png) center center no-repeat;
  background-size: cover;
 }

 .conteiner_form {
 	flex-direction: column;
 	align-items: center;
	justify-content: center;
 }
 
.title_form {
	margin-top: 21%;
	text-align: center;

	@include tablets() {
   			margin-bottom: 20px;
			margin-top: 15%;
  		}

  	@include phones() {
		   	margin-top: 0;
		}
}

.form {
	padding: 0 5%;
	width: 100%;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	justify-content: center;
	align-items: top;
	font-family: Ubuntu;
	font-weight: 300;
	font-size: rem(14px);
	color: #fff;

	@include tablets {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

  }

  	@include phones {
    padding: 0;
    max-height: 100%;
	}
}

.form__input-title {
	display: inline-flex;
	margin-bottom: 10px;
	text-transform: none;
}

.form__column {
	max-width: 50%;
	margin-right: 19px;
	flex: 1;

	@include tablets {
	    min-width: 90%;
	    margin-right: 0;
	   
    }
}

.form__column:last-child {
	margin-right: 0;
}

.form__row {
	margin-bottom: 17px;
	display: flex;
}

.form__input {
	flex: 1;
	margin-right: 19px;
}

.form__input:last-child {
	margin-right: 0;
}

.form__input-elem {
	width: 100%;
	padding: 9px 12px;
	border: none;
	border-radius: 5px;
	border: 1px solid transparent;

	&:focus {
		outline: none;
		border-color: #f8b43a;
	}
}

.form__input-elem_textarea {
	resize: vertical;
	height: 109px;
}

.form__buttons {
	@include phones {

		.form__row {
			justify-content: center;
			margin-top: 30px;
		}
	}

}

.form__radio {
	display: inline-flex;
	vertical-align: middle;
	margin-right: 20px;
}

.form__radio-real {
	display: none;
}

// не идентифицирует "checked"


.form__radio-visible {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-image: linear-gradient(to top, #ededed, #fff);
	position: relative;
	margin-right: 10px;

	&:after {
		display: block;
		content: "";
		width: 7px;
		height: 7px;
		border-radius: 50%;
		background: #e45028;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
	}
}

.form__radio-real:checked ~ .form__radio-visible:after {   
	opacity: 1;
}

.form__checkbox {
	display: inline-flex;
	vertical-align: middle;
	margin-right: 20px;
}

.form__checkbox-real {
	display: none;

	&:checked ~ .form__checkbox-visible:after {   
	opacity: 1;
	}

}

.form__checkbox-visible {
	width: 15px;
	height: 15px;
	background: #fff;
	position: relative;
	margin-right: 10px;

	&:after {
		display: block;
		content: "";
		background: url(../img/checkbox.png) 50% no-repeat transparent;
		background-size: contain;
		position: absolute;  
		width: 11px;
		height: 9px;
		opacity: 0;
	}
}

.order_form {
	border: 0;
	cursor: pointer;
	margin-right: 20px;


	&:focus {
		outline: none;
	}
}

.form__button-clear {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	color: #fff;

	&:focus {
		outline: none;
	}
}