.section_order {
  background: url(../img/form_bg.png) center center no-repeat;
  background-size: cover;
 }

 .conteiner_form {
 	flex-direction: column;
 	align-items: center;
	justify-content: center;
 }
 
.title_form {
	margin-top: 20%;

	@include tablets() {
   			margin-bottom: rem(20px);
			margin-top: 15%;
  		}
}

.form {
	padding: 5% 5%;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	font-family: Ubuntu;
	font-weight: 300;
	font-size: rem(14px);
	color: #fff;

	@include tablets {
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0;
    padding: 0;
    width: 75%;
  }
	
}

.form__input-title {
	display: inline-flex;
	margin-bottom: rem(10px);
	text-transform: none;
}

.form__column {
	flex: 1;
	margin-right: rem(19px);

	@include tablets {
	    width: 100%;
	    margin-left: 0;
	    flex: 0.1;
    }
}

.form__column:last-child {
	margin-right: 0;
}

.form__row {
	margin-bottom: rem(17px);
	display: flex;
}

.form__input {
	flex: 1;
	margin-right: rem(19px);
}

.form__input:last-child {
	margin-right: 0;
}

.form__input-elem {
	width: 100%;
	padding: rem(9px) rem(12px);
	border: none;
	border-radius: rem(5px);
	border: rem(1px) solid transparent;

	&:focus {
		outline: none;
		border-color: #f8b43a;
	}
}

.form__input-elem_textarea {
	resize: vertical;
	height: rem(109px);
}

.form__radio {
	display: inline-flex;
	vertical-align: middle;
	margin-right: rem(20px);
}

.form__radio-real {
	display: none;
}

// не идентифицирует "checked"

.form__radio-real:checked ~ .form__radio-visible:after {   
	opacity: 1;
}

.form__radio-visible {
	width: rem(15px);
	height: rem(15px);
	border: rem(1px) solid #red;
	border-radius: 50%;
	background-image: linear-gradient(to top, #ededed, #fff);
	position: relative;
	margin-right: rem(10px);

	&:after {
		display: block;
		content: "";
		width: rem(7px);
		height: rem(7px);
		border-radius: 50%;
		background: #red;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
	}
}

.form__checkbox {
	display: inline-flex;
	vertical-align: middle;
	margin-right: rem(20px);
}

.form__checkbox-real {
	display: none;

	&:checked ~ .form__checkbox-visible:after {   
	opacity: 1;
	}

}

.form__checkbox-visible {
	width: rem(15px);
	height: rem(15px);
	background: #fff;
	position: relative;
	margin-right: rem(10px);

	&:after {
		display: block;
		content: "";
		background: url(../img/checkbox.png) 50% no-repeat transparent;
		background-size: contain;
		position: absolute;
		width: rem(11px);
		height: rem(9px);
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);
		opacity: 0;
	}
}

.order_form {
	border: 0;
	cursor: pointer;
	margin-right: rem(20px);


	&:focus {
		outline: none;
	}
}

.form__button-clear {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	color: #fff;

	&:focus {
		outline: none;
	}
}