.section_team {
  background: url(../img/team.jpg) center 0 no-repeat;
  background-size: cover;
  position: relative;
}

.conteiner_team {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.80);
	padding: 5% 2% 0 7%;

	@include tablets {
    padding: 0;
    width: 100%;
  }
}

.content_team {
	text-align: center;
}

.title_team {
	text-align: left;
	
	@include tablets {
		text-align: center;
    	padding-top: 21%;
  	}
	
}

.accordeon_team {
	display: flex;
	justify-content: flex-start;

	@include tablets {
    	justify-content: center;
    	align-items: center;
  	}

	@include phones() {
	   	justify-content: center;
	}
}

.accordeon__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.accordeon__item {
	margin-bottom: 40px;
	text-align: left;

	&:last-child {
		margin-bottom: 0;
	}

	@include phones() {
	   text-align: center;
	}
}

.polygon__icon {
	max-width: 15px;
	max-height: 15px;
	margin-right: 20px;
	transform: rotate(-180deg);
}


.title_crewman-name {
	font-size: rem(14px);
	color: #fff;
}

.crewman_position {
	display: block;
	font-weight: 700;
	margin-bottom: 10px;

	@include tablets {
    	text-align: center;
    	margin-top: 2%;
    	margin-bottom: 0;
  	}
}

.accordeon__button {
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;

	&:focus {
		.title_crewman-name {
		color: #f8b43a;
		} 
	}
	

	&:focus 
		+.accordeon__crewman {
			height: 100%;
			overflow: none;
		}
	
	&:focus {
		.polygon__icon {
			transform: rotate(0);
		}
	}

}

.accordeon__crewman {
	height: auto;
	display: flex;
	height: 0;
	width: 100%;
	margin-top: 20px;
	overflow: hidden;

	@include tablets {
    	flex-direction: column;
		width: 50%;
		align-items: center;
		justify-content: center;
  	}

}

.crewman_pic {
	margin-left: 7%;
	@include tablets {
		margin-left: 0;	
	    display: flex;
	    justify-content: center;	
	}
}

.crewman_photo {
	max-width: 100%;
	width: rem(100px);
	height: rem(100px);
	object-fit: cover;
	border-radius: 50%;
}

.about_crewman {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 2%;
	text-align: left;
	width: 50%;
	font-family: Ubuntu;
	font-weight: 300;
  	font-size: rem(14px);
  	line-height: 1.5;
  	color: #fff;

  	@include tablets {
  		align-items: center;
  		text-align: center;
    	padding-left: 0;
    	width: 100%;
  }
}
