.double-title {
	display: block;
}

.welcome-title {
	display: block;
	font-family: Lifehack;
	font-weight: 300;
	font-size: 65px;
	color: #fff;
	padding-top: 20px;
	line-height: 1;
	text-transform: none;
}

.title__about {
	margin: 0;
	text-align: center;
	color: #2f3234;
	margin-bottom: 40px;
	padding-top: 115px;
}

.title_slider-white {
	color: #fff;
}

.title_slider-red {
	display: inline-flex;
	color: #e45028;
}

.title_accordeon-menu {
	display: inline-flex;
	transform: rotate(-90deg);
	white-space: nowrap;
}

.title_crewman-name {
	font-size: 14px;
	color: #fff;
	text-align: right;
	position: relative;

	&:before {
		display: block;
		content: "";
		width: 10px;
		height: 10px;
		background: url(../img/Polygon_down.png)  no-repeat;
		position: absolute;
		top: 40%;
		left: -20%;
	}
}

.crewman_position {
	display: block;
	font-weight: 700;
	margin-bottom: 10px;
}

.we__title {
	font-family: Lifehack;
	font-weight: 300;
	font-size: 24px;
	text-transform: none;
}

.title_menu {
	display: inline-flex;
	color: #fff;
	margin-top: 7%;
	margin-left: 5%;
}

.clients__title {
	font-family: Gagalin;
	font-weight: 300;
	font-size: 14px;
	color: #fff;
}

.title_how-work {
	color: #2f3234;
	margin-top: 10%;
}

.title_form {
	margin-top: 20%;
}