.double-title {
	display: block;
}

.welcome__title {
	display: block;
	font-family: Lifehack;
	font-weight: regular;
	font-size: 65px;
	color: #fff;
	padding-top: 20px;
	line-height: 1;
}

.title__about {
	margin: 0;
	text-align: center;
	color: #2f3234;
	margin-bottom: 40px;
	padding-top: 115px;
}

.we__title {
	font-family: Lifehack;
	font-weight: Medium;
	font-size: 24.12px;
}

.clients__title {
	font-family: Gagalin;
	font-weight: Regular;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
}